.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allPokemons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardImage {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

